html,
body,
#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
#syncSwitchDiv {
  transition: background-color 0.5s linear;
  background-color: black;
  padding: 9px 10px 5px 10px;
  border-radius: 5px;
}
.syncSwitchNumberInput {
  display: inline-block;
  padding-left:10px;
  width: 105px;
  vertical-align: super;
}
.syncSwitchLabel {
  display: inline-block;
  vertical-align: middle;
}
.newData {	
  animation: updating 1s linear infinite;
}
@keyframes updating {
  0%{background-color: deepskyblue;}
  50%{background-color: firebrick;}
  100%{background-color: deepskyblue;}
}