html,
body,
#viewDiv {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
/* TODO: JSSDK snippet / VS Code snippet: 
styles to align map divs in different screen position, incl. typical overview maps */
/* TODO: these two overviews in one menu */
#overview1 {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 200px;
  height: 200px;
  z-index: 1;
  overflow: hidden;
}
#overview2 {
  position: absolute;
  top: 212px;
  right: 12px;
  width: 200px;
  height: 200px;
  z-index: 1;
  overflow: hidden;
}
#infoDiv {
  height: 39vh;
  display: block;
  bottom: 40px;
  width: 270px;
  left: 20px;
  position: absolute;
  padding: 10px;
}
.calcite-slider {
  padding: 0px 20px;
}