@import "https://js.arcgis.com/4.26/@arcgis/core/assets/esri/themes/light/main.css";
html,
body,
#viewDiv {
  top: 0px;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 50vw;
  position:relative
}
#sceneDiv {
  top: -100vh;
  left: 50vw;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 50vw;
  position: relative;
}
